@use "/src/scss/abstracts" as *;

.recaptcha-disclaimer {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.actions {
    margin-top: 1rem;

    .btn + .btn,
    .btn + a {
        margin-left: 0.5rem;
    }
}
