<div class="tab-body">
    <div class="tab-main">
        <h3>Water Quality Management Plans</h3>
        <p>Bulk-upload Water Quality Management Plans.</p>
        <data-hub-action-button
            label="Upload"
            icon="upload"
            [routerLink]="['/data-hub', 'wqmp-upload']"
            [disabled]="!isAdminOrEditor()"
            [disabledTooltip]="managerEditorTooltip"
        ></data-hub-action-button>

        <h3>Simplified BMPs</h3>
        <p>Bulk-upload Simplified BMPs associated with WQMPs.</p>
        <data-hub-action-button
            label="Upload"
            icon="upload"
            [routerLink]="['/data-hub', 'simplified-bmp-upload']"
            [disabled]="!isAdminOrEditor()"
            [disabledTooltip]="managerEditorTooltip"
        ></data-hub-action-button>

        <h3>Water Quality Management Plan Locations</h3>
        <p>Upload WQMP boundary geometries by APN list.</p>
        <data-hub-action-button
            label="Upload"
            icon="upload"
            [routerLink]="['/data-hub', 'wqmp-locations-upload']"
            [disabled]="!isAdminOrEditor()"
            [disabledTooltip]="managerEditorTooltip"
        ></data-hub-action-button>
    </div>
    <data-hub-quick-links tab="wqmps"></data-hub-quick-links>
</div>
