<page-header pageTitle="Structural BMPs" [customRichTextTypeID]="service.stepHelpID('structural-bmps')"></page-header>

@if (service.treatmentBMPRows().length) {
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>BMP Name</th>
                <th>Type</th>
                <th style="width: 200px">O&amp;M Adequate?</th>
                <th style="width: 300px">Notes</th>
            </tr>
        </thead>
        <tbody>
            @for (row of service.treatmentBMPRows(); track row.id) {
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.type }}</td>
                    <td>
                        <div class="radio-group">
                            <label><input type="radio" [name]="'tbmp-' + row.id" [value]="true" [(ngModel)]="row.isAdequate" [disabled]="readonly" (ngModelChange)="touched()"> Yes</label>
                            <label><input type="radio" [name]="'tbmp-' + row.id" [value]="false" [(ngModel)]="row.isAdequate" [disabled]="readonly" (ngModelChange)="touched()"> No</label>
                            <label><input type="radio" [name]="'tbmp-' + row.id" [value]="null" [(ngModel)]="row.isAdequate" [disabled]="readonly" (ngModelChange)="touched()"> N/A</label>
                        </div>
                    </td>
                    <td>
                        <textarea class="form-control form-control-sm" rows="3" [(ngModel)]="row.note" [disabled]="readonly" maxlength="500" (ngModelChange)="touched()"></textarea>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} @else {
    <p class="system-text">No structural BMPs are associated with this WQMP.</p>
}

@if (!readonly) {
    <div class="page-footer">
        <button class="btn btn-primary-outline" (click)="service.save('structural-bmps', false)" [disabled]="service.isSaving()">Save</button>
        <button class="btn btn-primary" (click)="service.save('structural-bmps', true)" [disabled]="service.isSaving()">Save and Continue</button>
    </div>
}
