@use "/src/scss/abstracts" as *;

:host { display: block; }
form-field { display: block; }

.page-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-300;
    margin-top: $spacing-500;
    padding-top: $spacing-400;
    border-top: 1px solid $gray-light;
}
