@if (!hasAttributes) {
    <p class="system-text">This type of treatment BMP does not have any {{ customAttributeTypePurposeDisplayName }}</p>
}
@if (hasAttributes) {
    <table class="table simple condensed">
        <thead>
            <tr>
                <th>Attribute</th>
                <th class="text-right">Value</th>
            </tr>
        </thead>
        <tbody>
            @for (attrType of filteredAttributeTypes; track attrType.CustomAttributeType.CustomAttributeTypeID) {
                <tr>
                    <td>
                        {{ attrType.CustomAttributeType.CustomAttributeTypeName }}
                        @if (attrType.CustomAttributeType.CustomAttributeTypeDescription) {
                            <ng-template #popTitle>
                                <span>{{ attrType.CustomAttributeType.CustomAttributeTypeName }}</span>
                                @if (isAdmin) {
                                    <a
                                        class="btn btn-text"
                                        [routerLink]="['/manage/custom-attributes', attrType.CustomAttributeType.CustomAttributeTypeID]"
                                        target="_blank"
                                        rel="noopener"
                                        title="View attribute details">
                                        <i class="fas fa-external-link-alt"></i>
                                    </a>
                                }
                            </ng-template>
                            <ng-template #popContent>
                                <div>{{ attrType.CustomAttributeType.CustomAttributeTypeDescription }}</div>
                            </ng-template>
                            <i
                                class="fas fa-question-circle small"
                                style="cursor: help; margin-left: 0.25rem"
                                [popper]="popContent"
                                [popperTitle]="popTitle"
                                [useBodyContainer]="true"></i>
                        }
                    </td>
                    <td class="text-right" style="min-width: 150px">
                        {{ attributeValuesByTypeID[attrType.CustomAttributeType.CustomAttributeTypeID] }}
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
