@use "/src/scss/abstracts" as *;
.back {
    padding-bottom: 0.75rem;

    &__link {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: $type-size-150;
        color: $primary;

        .fa-arrow-left {
            margin-right: 0.25rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
