@use "/src/scss/abstracts" as *;
.back {
    padding-bottom: 0.75rem;

    &__link {
        display: inline-block;
        font-size: $type-size-150;
        color: $gray-600;

        .fa-arrow-left {
            margin-right: 0.25rem;
        }

        &:hover {
            color: $primary;
        }
    }
}
