<page-header pageTitle="Refine WQMP Boundary Area" [templateAbove]="templateAbove">
    <ng-template #templateAbove>
        <div class="back">
            <a [routerLink]="['/water-quality-management-plans', waterQualityManagementPlanID]" class="back__link"><i class="fa fa-arrow-left"></i> Back to WQMP</a>
        </div>
    </ng-template>
    <div class="copy copy-2">
        The boundary's vertices are displayed and ready to edit. You may drag vertices to move them, click
        or tap existing vertices to create possible additional vertices near them, click or tap the slightly transparent vertices to create new vertices, or right-click to delete
        them. If a new boundary needs to be drawn, you may delete (<icon icon="GeomanDelete"></icon>) the existing boundary and draw (<icon icon="GeomanPolygon"></icon>) a new one.
        Click the boundary polygon or the edit button (<icon icon="GeomanEdit"></icon>) to re-enter edit mode if you have exited it.
        <p class="mt-2">
            Note that the boundary's edges must not intersect each other. If the boundary contains any edges that intersect each other, you will not be able to save.
        </p>
    </div>
</page-header>

<app-alert-display></app-alert-display>

@if (boundaryData$ | async; as boundaryData) {
    <div class="page-body">
        <div class="grid-12">
            <!-- Left panel: Acreage + Parcels + Actions -->
            <div class="g-col-2">
                <h4>Calculated Acreage</h4>
                <p>{{ calculatedAcreage !== null ? calculatedAcreage + " acres" : "No boundary defined" }}</p>

                <h4 class="parcels-heading mt-4">Associated Parcels ({{ parcels?.length ?? 0 }})</h4>
                @if (parcels?.length) {
                    <div class="parcel-list">
                        @for (parcel of parcels; track parcel.ParcelID) {
                            <div class="parcel-list__item">
                                <span>{{ parcel.ParcelNumber }}</span>
                            </div>
                        }
                    </div>
                } @else {
                    <p class="system-text">No parcels are associated with this WQMP.</p>
                }
            </div>

            <!-- Right panel: Map -->
            <div class="g-col-10">
                <neptune-map [mapHeight]="mapHeight" [showLegend]="false" [boundingBox]="boundingBox" (onMapLoad)="handleMapReady($event, boundaryData)">
                    @if (mapIsReady) {
                        <parcel-layer [displayOnLoad]="true" [map]="map" [layerControl]="layerControl"></parcel-layer>
                        <wqmps-layer [mode]="OverlayMode.ReferenceOnly" [map]="map" [layerControl]="layerControl"></wqmps-layer>
                    }
                </neptune-map>
            </div>
        </div>

        <div class="page-footer">
            <button class="btn btn-primary" (click)="save()" [disabled]="isLoadingSubmit">
                @if (isLoadingSubmit) {
                    <span class="fa fa-spinner loading-spinner"></span>
                }
                Save
            </button>
            <button class="btn btn-secondary-outline" (click)="cancel()" [disabled]="isLoadingSubmit">Cancel</button>
        </div>
    </div>
}
