@if (treatmentBMPTypeCustomAttributeTypes$ | async; as treatmentBMPTypeCustomAttributeTypes) {
    @if (customAttributes$ | async; as customAttributes) {
        <custom-attributes-editor
            [treatmentBMPTypeCustomAttributeTypes]="treatmentBMPTypeCustomAttributeTypes"
            [customAttributes]="customAttributes"
            [customAttributeTypePurposeEnum]="customAttributePurposeID"
            [formGroup]="formGroup"></custom-attributes-editor>
        @if (!hideFooter) {
            <div class="editor-footer">
                <button type="button" class="btn btn-primary mr-2" (click)="save(treatmentBMPTypeCustomAttributeTypes)" [disabled]="isLoadingSubmit || formGroup.invalid">
                    Save
                </button>
                <button type="button" class="btn btn-primary-outline" (click)="cancel()">Cancel</button>
            </div>
        }
    }
} @else {
    <div [loadingSpinner]="{ isLoading: true, loadingHeight: 500 }"></div>
}
