<page-header pageTitle="Upload Simplified BMPs" [templateRight]="downloadTemplateButton">
    <a class="back-link" [routerLink]="['/data-hub']" [queryParams]="{ tab: 'wqmps' }">&laquo; Back to Data Hub</a>
</page-header>

<ng-template #downloadTemplateButton>
    <button type="button" class="btn btn-secondary" [disabled]="isDownloadingTemplate()" (click)="downloadTemplate()">
        @if (isDownloadingTemplate()) { <i class="fa fa-spinner fa-spin"></i> Downloading... } @else { <i class="fa fa-download"></i> Download Template }
    </button>
</ng-template>

<section class="content-section">
    <app-alert-display></app-alert-display>

    <div class="grid-12">
        <div class="g-col-6 instructions">
            <custom-rich-text [customRichTextTypeID]="NeptunePageTypeEnum.UploadSimplifiedBMPs"></custom-rich-text>
        </div>
        <div class="g-col-6">
            @if (jurisdictionOptions$ | async; as opts) {
                <form-field fieldLabel="Stormwater Jurisdiction" [type]="FormFieldType.Select" [formControl]="jurisdictionControl" [formInputOptions]="opts" placeholder="Select a jurisdiction"></form-field>
            }
            <form-field fieldLabel="XLSX File" [type]="FormFieldType.File" [formControl]="fileControl" uploadFileAccepts=".xlsx" (change)="onFileChange($event)"></form-field>

            @if (errors().length > 0) {
                <div class="alert alert-danger upload-errors">
                    <strong>Upload could not be completed:</strong>
                    <ul>
                        @for (err of errors(); track $index) {
                            <li>{{ err }}</li>
                        }
                    </ul>
                </div>
            }

            @if (successMessage()) {
                <div class="alert alert-success">{{ successMessage() }}</div>
            }

            <div class="actions">
                <button type="button" class="btn btn-primary" [disabled]="isUploading() || fileControl.invalid || jurisdictionControl.invalid" (click)="submit()">
                    @if (isUploading()) { <i class="fa fa-spinner fa-spin"></i> Uploading... } @else { <i class="fa fa-upload"></i> Upload }
                </button>
            </div>
        </div>
    </div>
</section>
