@use "/src/scss/abstracts" as *;

.picker-row {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;

    ng-select {
        flex: 1 1 0;
        min-width: 0;
    }
}

form-field {
    display: block;
}
