@use "sass:color";
@use "/src/scss/abstracts" as *;

:host {
    display: block;
}

div {
    background: $yellow-light;
    padding: $spacing-300 $spacing-400;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    .note-content {
        flex: 1;

        ::ng-deep ul,
        ::ng-deep ol {
            list-style: revert;
            margin: revert;
            padding: revert;
        }

        ::ng-deep a:not(.btn) {
            text-decoration: underline;
        }
    }

    &.default {
        background: $yellow-light;
    }

    &.danger {
        background: color.adjust($red-default, $lightness: 20%);
    }

    &.info {
        background: $teal-lighter;
        border: 1px solid $teal-light;
        color: $teal-900;
    }

    &.warning {
        background: $yellow-light;
        border: 1px solid $yellow-dark;
    }

    &.success {
        background: $green-light;
    }
}
