<page-header pageTitle="Edit Location" [templateAbove]="templateAbove">
    <ng-template #templateAbove>
        <div class="back">
            <a [routerLink]="['/treatment-bmps', treatmentBMPID]" class="back__link"><i class="fa fa-arrow-left"></i> Back to BMP</a>
        </div>
    </ng-template>
</page-header>

<app-alert-display></app-alert-display>

@if (treatmentBMPID != null) {
    <treatment-bmp-location-editor
        [treatmentBMPID]="treatmentBMPID"
        (saved)="onSaved($event)"
        (cancelled)="onCancelled()"></treatment-bmp-location-editor>
}
