<div class="card observation-panel">
    <div class="card-header"><span class="card-title">{{ panel.name }}</span></div>
    <div class="card-body">
        @if (panel.assessmentDescription) {
            <p class="assessment-description">{{ panel.assessmentDescription }}</p>
        }
        @if (panel.benchmarkDescription || panel.thresholdDescription) {
            <dl class="thresholds">
                @if (panel.benchmarkDescription) {
                    <dt>Benchmark</dt>
                    <dd>{{ panel.benchmarkDescription }}</dd>
                }
                @if (panel.thresholdDescription) {
                    <dt>Threshold</dt>
                    <dd>{{ panel.thresholdDescription }}</dd>
                }
            </dl>
        }

        @for (property of panel.properties; track property.propertyObserved) {
            <div class="grid-12 property-row">
                @switch (panel.collectionMethod) {
                    @case ("DiscreteValue") {
                        <form-field
                            class="g-col-12 g-col-md-6"
                            [formControl]="property.valueControl"
                            [fieldLabel]="property.propertyObserved"
                            [type]="FormFieldType.Number"
                            [units]="panel.measurementUnitLabel || ''"></form-field>
                    }
                    @case ("PassFail") {
                        <form-field
                            class="g-col-12 g-col-md-6"
                            [formControl]="property.valueControl"
                            [fieldLabel]="property.propertyObserved"
                            [type]="FormFieldType.Radio"
                            [name]="namePrefix + '-' + panel.observationTypeID + '-' + $index"
                            [formInputOptions]="property.passFailOptions || []"></form-field>
                    }
                    @case ("Percentage") {
                        <form-field
                            class="g-col-12 g-col-md-6"
                            [formControl]="property.valueControl"
                            [fieldLabel]="property.propertyObserved"
                            [type]="FormFieldType.Number"
                            units="%"></form-field>
                    }
                    @default {
                        <form-field
                            class="g-col-12 g-col-md-6"
                            [formControl]="property.valueControl"
                            [fieldLabel]="property.propertyObserved"
                            [type]="FormFieldType.Text"></form-field>
                    }
                }
                <form-field
                    class="g-col-12 g-col-md-6"
                    [formControl]="property.notesControl"
                    fieldLabel="Notes"
                    [type]="FormFieldType.Text"
                    placeholder="Optional"></form-field>
            </div>
        }
    </div>
</div>
