@if (attachments && attachments.length > 0) {
<div class="grid-12 mt-2 mb-4">
    @for (attachment of attachments; track attachment) {
    <div class="g-col-6">
        <div class="card">
            <div class="card-header">
                <span class="card-title card-header-name">{{ attachment.DisplayName }}</span>
                @if (!readOnly) {
                <span class="attachment-actions">
                    <button type="button" class="btn btn-sm btn-primary-outline btn-icon" title="Edit attachment" aria-label="Edit attachment" (click)="emitEditAttachmentTriggered(attachment)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger-outline btn-icon" title="Delete attachment" aria-label="Delete attachment" (click)="emitDeleteAttachmentTriggered(attachment.ProjectDocumentID)">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
                }
            </div>
            <div class="card-body">
                <div class="grid-12">
                    <div class="g-col-4 label text-right"><strong>File: </strong></div>
                    <div class="g-col-8 text-left">
                        <a href="{{ getFileLinkValue(attachment) }}">{{ attachment.FileResource.OriginalFilename }}</a>
                        @if (!attachment.FileResource) {
                        <em class="text-muted">Not Available</em>
                        }
                    </div>
                    <div class="g-col-4 label text-right"><strong>Uploaded On: </strong></div>
                    <div class="g-col-8 text-left">{{ attachment.UploadDate | date : "shortDate" }}</div>
                    <div class="g-col-4 label text-right"><strong>File Type: </strong></div>
                    <div class="g-col-8 text-left">{{ attachment.FileResource.OriginalFileExtension }}</div>
                    <div class="g-col-4 label text-right"><strong>Description: </strong></div>
                    <div class="g-col-8 text-left">{{ attachment.DocumentDescription }}</div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
}
