<div class="tab-body">
    <div class="tab-main">
        <h3>Parcels</h3>
        <p>Refresh Parcels from OC Survey.</p>
        @if (lastUpdated()) {
            <span class="last-updated">Last Updated: {{ lastUpdated().Parcels | date: 'medium' }}</span>
        }
        <data-hub-action-button label="Refresh" icon="refresh" [disabled]="true" [disabledTooltip]="comingSoonTooltip"></data-hub-action-button>

        <h3>Regional Subbasins</h3>
        <p>Refresh Regional Subbasins from OC Survey.</p>
        @if (lastUpdated()) {
            <span class="last-updated">Last Updated: {{ lastUpdated().RegionalSubbasins | date: 'medium' }}</span>
        }
        <data-hub-action-button label="Refresh" icon="refresh" [disabled]="true" [disabledTooltip]="comingSoonTooltip"></data-hub-action-button>

        <h3>HRU Characteristics</h3>
        <p>Refresh HRU Characteristics from OC Survey.</p>
        @if (lastUpdated()) {
            <span class="last-updated">Last Updated: {{ lastUpdated().HRUCharacteristics | date: 'medium' }}</span>
        }
        <data-hub-action-button label="Refresh" icon="refresh" [disabled]="true" [disabledTooltip]="comingSoonTooltip"></data-hub-action-button>

        <h3>Model Basins</h3>
        <p>Refresh Model Basins from OC Survey.</p>
        @if (lastUpdated()) {
            <span class="last-updated">Last Updated: {{ lastUpdated().ModelBasins | date: 'medium' }}</span>
        }
        <data-hub-action-button label="Refresh" icon="refresh" [disabled]="true" [disabledTooltip]="comingSoonTooltip"></data-hub-action-button>

        <h3>Precipitation Zones</h3>
        <p>Refresh Precipitation Zones from OC Survey.</p>
        @if (lastUpdated()) {
            <span class="last-updated">Last Updated: {{ lastUpdated().PrecipitationZones | date: 'medium' }}</span>
        }
        <data-hub-action-button label="Refresh" icon="refresh" [disabled]="true" [disabledTooltip]="comingSoonTooltip"></data-hub-action-button>
    </div>
    <data-hub-quick-links tab="county"></data-hub-quick-links>
</div>
